footer {
    width: 100%;
    height: 5vh;
    background-position: top; 
    background-repeat: no-repeat;
    bottom:0;
    position: fixed;
}

.copyright{
    color: #7c7c7b;
    float: center;
    font-size: 12px;
    text-align: center;
    padding-top: 1.5vh;
}

